.scrollTopButton {
    position: fixed;
    bottom: 179px;
    right: 24px;
    background-color: rgb(255 255 255 / 0.8);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    z-index: 1000;
}

.scrollTopButton.active {
    opacity: 1;
    visibility: visible;
}

.scrollTopButton.inactive {
    color: #a0a0a0;
}

.scrollTopButton:hover {
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
}

.scrollTopButton::before {
    content: '';
}

