
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

/* 폰트 사이즈*/
h2 {
    font-size: 48px;

}
h3 {
    font-size: 36px;

}
h4 {
    font-size: 24px;

}
h5 {
    font-size: 16px;
}

.section7_font{
    color: #F2E9D8;
    font-size: 14px;
}

p{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

/* 폰트체 */
h2, h3, h4, h5{
    font-family: 'Pretendard-Bold', sans-serif;
}

p{
    font-family: 'Pretendard-Regular', sans-serif;
}

button{
    font-family: 'Pretendard-Bold', sans-serif;
}

nav, input {
    font-family: 'Pretendard-Regular', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

footer {

    height: auto;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;

}

.sticky {
    position: sticky;
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2e9d8;
    height: auto;
    flex-direction: column;
    box-sizing: border-box;
    transition: top 0.3s;
    z-index: 1000;
    top:0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;

}
section{

}
.background{
    background-color: #f2e9d8;
    display: flex;
    justify-content: flex-start;
}
.nav_layout{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.footer_nav_layout{
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.section2_layout{
    padding-left: 0;
    padding-right: 0;
}
.section3_layout{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 88px;
    margin-top: 122px;
}
.section4_layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
    height: auto;
    box-sizing: border-box;
    justify-content: center;

}
.section5_layout{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    gap: 28px;
}
.section6_layout{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid #C4C4C4;
    margin-top: 80px;
    padding-top: 68px;
}
.downloadButtonHeader{
    width: 140px;
    height: 50px;
    background-color: #D97652;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 49px;
}
.downloadButtonMain{
    width: 140px;
    height: 50px;
    background-color: #D97652;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}
.showMoreButton{
    width: 143px;
    height: 50px;
    background-color: #D97652;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
}
.modalButton{
    width: 183px;
    height: 50px;
    background-color: #D97652;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    margin-top: 38px;
}


.header_layout{
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    height: 102px;
    flex-direction: row;
    justify-content:space-between;
}
.footer_layout{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 45px;
    margin-bottom: 45px;
}
.section1Align{
    width: 100%;
    height: 798px;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    flex-direction: row;
}
.section1_text_layout{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 200px 0 261px 0;
    gap: 40px;
}
.section2Align{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 127px;
    justify-content: center;
    margin-top: 78px;
}
.section2textAlign{
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
nav ul {
    list-style: none;
    display: flex;
    font-size: 16px;
    gap: 30px;
}
nav ul li {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: #000000;
}
section h2, section h3, section h4, section h5 {
    margin: 0;
}
.section_image{
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    width: 100%; /* 이미지가 부모 컨테이너의 너비를 차지하도록 설정 */
    height: auto;
}
.section3_TextGap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.boxCat{
    /*width: 415px;*/
    /*height: 766px;*/
    /*margin-top: 32px;*/
    position: relative;
    top: 120px;
}
.icon_mail{
    width: 24px;
    height: 24px;
    margin: 18px 16px 18px 28px;
}
.section1_image_layout {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section6textAlign{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#map{
    width: 100%;
    margin-top: 48px;
}

.text-color-white{
    color: #FFFFFF;
}
.text-color-orange{
    color: #D97652;
}
.section7_text_layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 18px;
}
input[type="email"] {
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin: 0 170px 0 40px;
    height: 40px;
    flex: 1;
}
.form_border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    background-color: #263140;
    border-radius: 30px;
    padding: 50px 58px 51px 58px;

    transform: translateY(-100px);
}
.section7_form_layout {
    display: flex;
    align-items: center;
    width: 100%;
}
.subscribeButton {
    width: 135px;
    height: 50px;
    background-color: #D97652;
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    margin-right: 5px;
    transform: translate(-159px);
    position: absolute;
    right: -100px;
    cursor: pointer;
}
.form-container{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 60px;
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}
.form-container::before{
    transform: translateX(28px);
    content:'';
    width: 24px;
    height: 24px;
    background-image: url("../image/mail.png");
}
.footer_background {
    content:'';
    width: 100%;
    height: 340px;
    background: url("../image/img_7.png") center/cover no-repeat;
    z-index: -1;
    margin-top: 180px;
}

.map_wrap {position:relative;overflow:hidden;width:100%;}
.radius_border{border-radius:5px;box-shadow: 0 2px #80808033;}
.custom_typecontrol {position:absolute;top:60px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px; background-color: white}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;}
.custom_typecontrol .btn:hover {background:#f5f5f5;}
.custom_typecontrol .btn:active {background:#e6e6e6;}
.custom_typecontrol .selected_btn {color:#fff;background:#5d96fc;);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:100px;right:10px;width:40px;height:80px;overflow:hidden;z-index:1;background-color:#FFFFFF;}
.custom_zoomcontrol span {display:flex;width:40px;height:50%;text-align:center;cursor:pointer;justify-content:center;align-items: center}
.custom_zoomcontrol span img {width:15px;height:15px;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:2px solid #c7c0c030;}

.custom_mapcontrol span {display:flex;width:40px;height:100%;text-align:center;cursor:pointer;justify-content:center;align-items: center}
.custom_mapcontrol {position:absolute;top:250px;right:10px;width:40px;height:40px;overflow:hidden;z-index:1;background-color:#FFFFFF;}
.custom_markercontrol span {display:flex;width:40px;height:100%;text-align:center;cursor:pointer;justify-content:center;align-items: center}
.custom_markercontrol {position:absolute;top:200px;right:10px;width:40px;height:40px;overflow:hidden;z-index:1;background-color:#FFFFFF;}

.footer_nav_mobile{
    display: none;
}
.footer_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.map_style{
    width:100%;
    height:520px;
    position:relative;
    border-radius: 12px;
}

.modal {
    display: none; /* 초기에는 숨김 */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-align: center;
    background-image: url("../image/modal-background.svg");
    background-repeat: no-repeat;
    background-color: #F2E9D8;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    padding: 60px 0 40px 0;
}

/* 스크롤 탑*/
.scrollTopButton {
    position: fixed;
    bottom: 150px;
    right: 24px;
    background-color: rgb(255 255 255 / 0.8);
    background-image: url("../image/scoll_btn_N.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
    z-index: 1000;
}

.scrollTopButton.active {
    opacity: 1;
    visibility: visible;
}

.scrollTopButton.inactive {

    color: #a0a0a0;
}

.scrollTopButton:hover {
    background-image: url("../image/scoll_btn_Y.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
}

.scrollTopButton::before {
    content: '';
}
.modal-thankyou{
    color: #D97652;
    margin: 24px 0 12px 0;
}

.hidden{
    display: none;
}

.header_logo{
    width: 130px;
    height: 40px;
}

.footer_logo{
    width: 226px;
    height: 70px;
}

/* 메뉴바*/
.menuOpenButton {
    display: none;
}
.menuCloseButton {
    display: none;
}

.menu {
    display: none;
}

.map_icon_level{
    background: url("../image/level.png") center/cover no-repeat;
    scale: 0.6;
}

.map_icon_reset{
    background: url("../image/reset.png") center/cover no-repeat;
    scale: 0.6;
}
.map_icon_plus{
    background: url("../image/plus.png") center/cover no-repeat;
    scale: 0.9;
}

.map_icon_minus{
    background: url("../image/minus.png") center/cover no-repeat;
    scale: 0.9;
}

@media (min-width: 390px) and (max-width: 798px) {



    .header_logo_web{
        width: 130px;
        height: 40px;
    }

    .header_logo_mov{
        width: 92px;
        height: 28px;
    }
    .footer_logo_web{
        width: 226px;
        height: 70px;
    }

    .footer_logo_mov{
        width: 112px;
        height: 34px;
    }

    .section_image{
        border-radius: 18px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    }

    .modalCat{
        width: 60px;
        height: 62px;
    }
    .hidden{
        display: flex;
    }

    br{
        display: none;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 390px;

    }
    .form-container::before{
        scale: 0.8;
    }
    .section6textAlign{
        gap: 16px;
    }
    .section6_layout{
        margin-top: 60px;
        padding-top: 40px;
    }

    .section5_layout{
        margin-top: 60px;
    }

    .background{
        height: 718px;
    }

    .modalButton{
        width: 158px;
        height: 40px;
        background-color: #D97652;
        border: 0;
        border-radius: 40px;
        font-size: 14px;
        color: #ffffff;
        margin-top: 28px;
        cursor: pointer;
    }
    .modal-content {
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        text-align: center;
        background-image: url("../image/modal-background-mobile.svg");
        background-repeat: no-repeat;
        background-color: #F2E9D8;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        padding: 40px 55px 41px 56px;
    }

    .modal-thankyou{
        color: #D97652;
        font-size: 24px;
        margin: 24px 0 10px 0;
    }

    .footer_background{
        height: 240px;
        margin-top: 230px;
    }
    .logo{
        width: 92px;
        height: 28px;
    }
    input[type="email"] {
        font-size: 12px;
        margin: 0 -100px 0 32px;

    }

    .sns_icon{
        width: 32px;
        height: 32px;
    }
    .map_style{
        width:100%;
        height:132px;
        position:relative;
    }
    .footer_logo{
        width: 112px;
        height: 34px;
    }
    .footer_nav{
        width: 176px;
        height: 36px;
    }
    .nav_sns{
        gap: 16px;
    }
    .footer_wrap{
        display: flex;
        flex-direction: column;
        gap: 58px;
        align-items: flex-start;
    }
    .footer_layout_mobile{
        display: none;
        padding-top: 30px;
        width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        gap: 58px;
        flex-direction: row;
        margin-bottom: 100px;
    }
    .footer_nav_mobile{
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    section {
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    article{
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }
    .nav_layout {
        display: none;
    }



    .footer_layout{
        margin-bottom: 28px;
        margin-top: 30px;
        width: 100%;
        box-sizing: border-box;
        align-items: flex-start;
        gap: 58px;
        flex-direction: row;

    }
    .footer_nav_layout {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 16px;
        font-size: 14px;
        color: #767676;
    }
    .section1Align {
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 0;
    }

    .section3_layout{
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .section2Align{
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;

    }

    .section2textAlign {
        flex-direction: column;
        text-align: left;
        gap: 20px;
    }
    .section1_text_layout {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 40px 0 0 0;
    }
    .downloadButtonMain {
        width: 114px;
        height: 40px;
        background-color: #D97652;
        border: 0;
        border-radius: 40px;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 14px;
    }

    .header_layout {
        justify-content: space-between;
        height: 76px;
        padding-left: 20px;
    }
    .boxCat {
        width: 197px;
        height: auto;
        top: 45px;
    }
    #map {
        width: 100%;
        height: 132px;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin: 28px 0 40px 0;
    }
    .section4_layout {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .form-container {
        width: 100%;
        height: auto;
    }
    .section7_text_layout {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-right: 0;
        gap: 20px;
    }
    .section7_form_layout {
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        height: auto;
        gap: 20px;
    }

    .form_border {
        flex-direction: column;
        text-align: center;
        gap: 30px;
        align-items: flex-end;
        padding: 36px 32px 30px 32px;
        box-sizing: border-box;
        border-radius: 18px;
        height: 348px;
        justify-content: flex-start;
        transform: translateY(-230px);
    }
    .subscribeButton{
        position: relative;
        transform: translateX(-95px);
        width: 115px;
        height: 40px;
        font-size: 14px;
        top: 60px;
        cursor: pointer;
    }

    .form-container{
        position: relative;
        width: 100%;
        height: 40px;
        flex: 0;
    }

    .custom_markercontrol,
    .custom_mapcontrol,
    .custom_typecontrol,
    .custom_zoomcontrol{
        scale: min(0.5);
    }
    .custom_typecontrol{
        right: -20px;
        top: 30px;
    }
    .custom_zoomcontrol{
        top: 40px;
        right: 2px;
    }
    .custom_markercontrol{
        top: 95px;
        right: 2px;
    }
    .custom_mapcontrol{
        top: 120px;
        right: 2px;
    }

    /* 메뉴바*/
    .menuOpenButton {

        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .menuCloseButton {
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 289px;
        background: #263140;
        transform: translateX(100%); /* 메뉴를 오른쪽 밖에 위치시킵니다. */
        transition: transform 0.3s ease; /* 애니메이션 설정 */
        padding: 120px 0 0 50px;
        display: flex;
        z-index: 1200;
    }

    .menu.open {
        transform: translateX(0); /* 메뉴가 열릴 때 화면에 표시되도록 변경 */
        display: flex;
    }

    .menuCloseButton {
        display: flex;
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: 20px;
    }

    .menu_wrap{
        display: flex;
        align-items: flex-start;
    }

    .menu_layout{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 30px;
    }

    .menu_font{
        font-size: 16px;
        color: #FFFFFF;
        font-family: 'Pretendard-Bold', sans-serif;
    }

}
